.footer {
  background-color: $mainColor;
  width: 100%;
  padding-top: 64px;
  &_menu {
    padding-bottom: 48px;
    text-transform: uppercase;
    &--item {
      padding-bottom: 16px;
      @include regularFont(16px, $thirdFontColor);
    }
  }
  &_content {
    text-align: center;
    @include tablet {
      text-align: left;
      .copy-list {
        text-align: right;
      }
    }
    &_copy {
      padding-bottom: 32px;
    }
  }
}
