.header {
  width: 100%;
  background-color: $mainBackground;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 120px;
  @include tablet {
    height: 90vh;
    padding-bottom: 65px;
  }
  @include desktop {
    height: 60vh;
    padding-bottom: 0;
  }
  &_content {
    text-align: center;
    &--title {
      padding-bottom: 4px;
    }
    &--subtitle {
      padding-bottom: 25px;
    }
    &--submit {
      @include button();
    }
    @include tablet {
      @include flexCentered();
      .header_content--img {
        width: 360px;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
        border-radius: 10px;
        box-shadow: $boxShadow;
      }
    }
    @include desktop {
      flex-direction: row;
      align-items: flex-start;
      text-align: left;
      .header_text {
        width: 60%;
        padding-left: 24px;
      }
    }
  }
}
