.header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include super {
    height: 80vh;
  }
  &_content {
    text-align: center;
    &--title {
      opacity: 1;
      color: $thirdFontColor;
      padding-bottom: 12px;
      line-height: 1.1;
    }
    &--subtitle {
      opacity: 1;
      color: $thirdFontColor;
      padding-bottom: 25px;
    }
    &--submit {
      @include button();
      opacity: 1;
      cursor: pointer;
    }
  }
}
