.navbar {
  height: 45px;
  background-color: $thirdFontColor;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100vw;
  display: flex;
  align-items: center;
  box-shadow: $boxShadow;
  &_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &_menu {
    display: flex;
    justify-content: space-between;
    &_item {
      @include regularFont(16px, $secondFontColor);
      padding: 0 5px;
    }
  }
  &_logo {
    a {
      @include regularFont(16px, $secondFontColor);
    }
  }
}
