.article {
  width: rem(196);
  height: rem(240);
  background-color: $thirdFontColor;
  border-radius: 10px;
  box-shadow: $boxShadow;
  @include flexCentered();
  text-align: center;
  margin-bottom: rem(80);
  padding: 0 rem(16);
  &--img {
    width: 90px;
    height: auto;
    opacity: 0.75;
    img {
      width: 100%;
    }
  }
}
