.question {
  margin-top: 124px;
  text-align: center;
  &_input {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--input {
      width: 100%;
      height: 50px;
      box-shadow: $boxShadow;
      border-radius: 26px;
      @include semiboldFont(18px, $mainFontColor);
      padding-left: 36px;
      &::placeholder {
        opacity: 50%;
        @include semiboldFont(18px, $secondFontColor);
      }
      @include tablet {
        width: 50%;
      }
    }
    &--next {
      @include button();
      margin-top: 36px;
      padding: 14px 60px;
      text-transform: uppercase;
    }
  }
}

.question {
  margin-top: 124px;
  margin-bottom: 124px;
  text-align: center;
  &_option {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &--button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      height: 136px;
      background-color: $thirdFontColor;
      border-radius: 8px;
      box-shadow: $boxShadow;
      margin-top: 8px;
      margin-bottom: 8px;
      @include tablet {
        width: 49%;
      }
      :hover {
        border: $secondColor 3px solid;
        border-radius: 8px;
      }
    }
    &--value {
      @include boldFont(20px, $mainFontColor);
      height: 100%;
      width: 100%;
      background: none;
      cursor: pointer;
      padding: 8px;
      white-space: normal;
    }
  }
}
