.font_title {
  @include boldFont(rem(24), $mainFontColor);
  @include tablet {
    font-size: rem(32);
  }
  @include desktop {
    font-size: rem(36);
  }
}

.font_h1 {
  @include boldFont(rem(36), $mainFontColor);
  @include tablet {
    font-size: rem(42);
  }
  @include desktop {
    font-size: rem(50);
  }
}

.font_subtitle--header {
  @include regularFont(rem(22), $mainFontColor);
  @include tablet {
    font-size: rem(22);
  }
  @include desktop {
    font-size: rem(30);
  }
}

.font_subtitle--bold {
  @include boldFont(rem(20), $mainFontColor);
  @include tablet {
    font-size: rem(22);
  }
  @include desktop {
    font-size: rem(22);
  }
}

.font_subtitle {
  @include regularFont(rem(20), $mainFontColor);
  @include tablet {
    font-size: rem(22);
  }
  @include desktop {
    font-size: rem(22);
  }
}

.font_description {
  @include regularFont(rem(18), $mainFontColor);
}

.font_description--bold {
  @include boldFont(rem(18), $mainFontColor);
}

.font_small {
  @include regularFont(rem(14), $thirdFontColor);
}
