// medias
@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media all and (min-width: 1200px) {
    @content;
  }
}

//margins
@mixin contentCentered($width) {
  max-width: $width;
  margin: auto;
}

@mixin flexCentered() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//fonts
@mixin regularFont($fontSize, $color) {
  font-family: $fontFamily;
  font-weight: 400;
  font-size: $fontSize;
  color: $color;
}

@mixin semiboldFont($fontSize, $color) {
  font-family: $fontFamily;
  font-weight: 600;
  font-size: $fontSize;
  color: $color;
}

@mixin boldFont($fontSize, $color) {
  font-family: $fontFamily;
  font-weight: 700;
  font-size: $fontSize;
  color: $color;
}

//button
@mixin button() {
  @include semiboldFont(rem(16), $thirdFontColor);
  background-color: $secondColor;
  padding: 10px 40px;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
  @include tablet {
    font-size: rem(18);
  }
}
