//fonts
$defaultFontSize: 16;
$fontFamily: 'Open Sans', sans-serif;

//color
$mainBackground: #dde8ed;
$secondBackground: rgba(255, 223, 100, 0.15);
$mainColor: #407980;
$secondColor: #884568;
$mainFontColor: #4c5c5d;
$darkFontColor: #373b3b;
$secondFontColor: #6b7177;
$thirdFontColor: #ffffff;
$linearBackground: linear-gradient($mainBackground, $thirdFontColor);

$boxShadow: 0 0 8px rgba(0, 0, 0, 0.2);
