<footer class="footer">
    <section class="footer_content container">
        <ul class="footer_content_menu">
            <li><a href="../contact.html" class="footer_menu--item">Do you need help?</a></li>
            <li><a href="../blog.html" class="footer_menu--item">Blog</a></li>
        </ul>
        <ul class="footer_content_copy">
            <li class="copy-list">
                <a href="#" class="footer--item">
                    <small>Copyrigth © 2021</small>
                </a>
                <span class="footer--item">|</span>
                <a href="#" class="footer--item">
                    <small>poshan</small>
                </a>
            </li>
            <li class="copy-list">
                <a href="#" class="footer--item">
                    <small>Terms & Conditions</small>
                </a>
                <span class="footer--item">|</span>
                <a href="#" class="footer--item">
                    <small>Privacy Policy</small>
                </a>
            </li>  
        </ul>
    </section>
</footer>