.intro {
  @include flexCentered();
  text-align: center;
  padding-top: 104px;
  padding-bottom: 104px;
  &_box {
    width: 350px;
    height: auto;
    margin-right: 16px;
    &--img {
      width: 100%;
      border-radius: 10px;
      box-shadow: $boxShadow;
    }
    @include tablet {
      width: 400px;
      height: auto;
    }
    @include desktop {
      width: 450px;
      height: auto;
    }
  }
  &_title {
    padding-top: 16px;
    padding-bottom: 4px;
    @include desktop {
      padding-top: 0;
    }
  }
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    transform: translate(0, 0);
    padding-bottom: 64px;
    @include contentCentered(700px);
    .intro_main {
      width: 50%;
    }
  }
  @include desktop {
    @include contentCentered(1000px);
  }
}

.philosophy {
  background-color: $mainBackground;
  width: 100vw;
  text-align: center;
  &-content {
    @include flexCentered();
    &_title {
      padding-top: 104px;
      padding-bottom: 48px;
    }
    @include tablet {
      @include contentCentered(456px);
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include desktop {
      @include contentCentered(910px);
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.start {
  background-color: $mainBackground;
  width: 100vw;
  padding: 96px 0;
  &_content {
    text-align: center;
    @include flexCentered();
    &--subtitle {
      padding-top: 4px;
      padding-bottom: 12px;
    }
    &--submit {
      @include button();
    }
  }
}
