.questionnaire {
  width: 100%;
  min-height: 100vh;
  background: $linearBackground;
  &_header {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &--logo {
      @include regularFont(18px, $secondFontColor);
    }
    &--back {
      min-width: 90px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .text {
        @include regularFont(18px, $darkFontColor);
      }
      .icon {
        padding-top: 2px;
        color: $mainFontColor;
        cursor: pointer;
      }
    }
  }
  &_welcome {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &--button {
      @include button();
      margin-top: 36px;
      padding: 14px 60px;
      text-transform: uppercase;
    }
  }
}
