.footer {
  background-color: $mainColor;
  width: 100vw;
  padding-top: 64px;
  &--item {
    @include regularFont(16px, $thirdFontColor);
  }
  &_content {
    text-align: center;
    &_menu {
      padding-bottom: 48px;
      text-transform: uppercase;
      li {
        padding-bottom: 16px;
      }
    }
    @include tablet {
      text-align: left;
      .copy-list {
        text-align: right;
      }
    }
    &_copy {
      padding-bottom: 32px;
    }
  }
}
