.header {
  background-color: $mainBackground;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 120px;
  @include tablet {
    height: 90vh;
    padding-bottom: 65px;
  }
  @include desktop {
    padding-bottom: 0;
  }
  &_content {
    text-align: center;
    &--title {
      @include boldFont(30px, $mainFontColor);
      padding-bottom: 4px;
      @include tablet {
        font-size: 36px;
      }
    }
    &--subtitle {
      @include regularFont(20px, $secondFontColor);
      padding-bottom: 25px;
      @include tablet {
        font-size: 22px;
      }
    }
    &--submit {
      @include semiboldFont(16px, $thirdFontColor);
      background-color: $secondColor;
      padding: 10px 40px;
      border-radius: 30px;
      text-transform: uppercase;
    }
    @include tablet {
      @include flexCentered();
      .header_content--img {
        width: 360px;
        height: 250px;
        background-image: url("../images/header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
      }
    }
    @include desktop {
      flex-direction: row;
      align-items: flex-start;
      text-align: left;
      .header_text {
        width: 60%;
        padding-left: 24px;
      }
    }
  }
}
